<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mrfre.pova">

    <application
        android:name=".Server"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="GES"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".CarlsJr" />
        <activity android:name=".JohnnysKitchen" />
        <activity android:name=".ElPolloLoco" />
        <activity android:name=".RiceGarden" />
        <activity android:name=".EditItemMenu" />
        <activity android:name=".Cart" />
        <activity android:name=".RecAdapter" />
        <activity android:name=".Checkout" />
        <activity android:name=".ConfirmationScreen" />
        <activity android:name=".RestaurantView" />
        <activity android:name=".DisplayOrder"></activity>
    </application>

</manifest>